<div class="banner">
  <h1>FRESH FOOD</h1>
  <button routerLink="products">VIEW PRODUCTS</button>
</div>
<div class="features">
  <div class="feature">
    <i class="fa fa-leaf"> </i>
    <h3>Natural</h3>
    <p>Consume Local, nature</p>
  </div>
  <div class="feature">
    <i class="fa fa-car"></i>
    <h3>Fastest Delivery</h3>
    <p>Delivery at your Door step</p>
  </div>
  <div class="feature">
    <i class="fa fa-clock-o"> </i>
    <h3>24X7 Support</h3>
    <p>Support Option including 24X7</p>
  </div>
  <div class="feature">
    <i class="fa fa-undo"> </i>
    <h3>Return Product</h3>
    <p>Product Return Process</p>
  </div>
</div>

<div class="container">
  <h1>Shop By Categories</h1>
  <div class="categorie">
    <div class="categor box1">
      <div class="overla">
        <h2>Homemade Food Products</h2>
        <button>Shop Now</button>
      </div>
    </div>
    <div class="categor box2">
      <div class="overla">
        <h2>Sewing Cloths are Available</h2>
        <button>Shop Now</button>
      </div>
    </div>
    <div class="categor box3">
      <div class="overla">
        <h2>Home Decors Products Available</h2>
        <button>Shop Now</button>
      </div>
    </div>
    <div class="categor box4">
      <div class="overla">
        <h2>Festival Cloths are Available on Rent</h2>
        <button>Shop Now</button>
      </div>
    </div>
  </div>
</div>



<div class="header">
  <h1>What Do You Looking For</h1>
</div>
<div class="categories">
  <div class="category">
    <img
      alt="Milk Products"
      height="80"
      src="https://storage.googleapis.com/a1aa/image/J4Oz3SCQdYreR6A85yM99mj1UfMdevZhCOOGu09fBPoBPdpOB.jpg"
      width="80"
    />
    <p>Milk Products</p>
  </div>
  <div class="category">
    <img
      alt="Sweets"
      height="80"
      src="https://storage.googleapis.com/a1aa/image/PJsN3TJ9E1ptCxNyd5B874sdtNsVmapuvjrUrejY17m7pL1JA.jpg"
      width="80"
    />
    <p>Sweets</p>
  </div>
  <div class="category">
    <img
      alt="Spices"
      height="80"
      src="https://storage.googleapis.com/a1aa/image/HQbcdpmU9fxaLSoqeK40jvSzFwqvvry3uEnwTIpt0Ny0TXqTA.jpg"
      width="80"
    />
    <p>Spices</p>
  </div>
  <div class="category">
    <img
      alt="Pickles &amp; Chutneys"
      height="80"
      src="https://storage.googleapis.com/a1aa/image/58Ke7w5GsBxEJa06Pb5TqVnLzvPjo7hM7eRqEx1fiKGynuUnA.jpg"
      width="80"
    />
    <p>Pickles &amp; Chutneys</p>
  </div>
  <div class="category">
    <img
      alt="Fasting Food"
      height="80"
      src="https://storage.googleapis.com/a1aa/image/Lq3fMkJ6lFSOeE4IUa7IPFLFVXKJ3QvxUAr2RlsHZwsxTXqTA.jpg"
      width="80"
    />
    <p>Fasting Food</p>
  </div>
  <div class="category">
    <img
      alt="Namkeens"
      height="80"
      src="https://storage.googleapis.com/a1aa/image/1r0hjd2GjippOdTeuyOz9XlVXecfs5ME6XfOifwqnVj1e0l6E.jpg"
      width="80"
    />
    <p>Namkeens</p>
  </div>
  <div class="category">
    <img
      alt="Staples"
      height="80"
      src="https://storage.googleapis.com/a1aa/image/fCZsVDnGlZULMa5f6f3b4sjT3q53HeDfmMBtE6QRLflZ70l6E.jpg"
      width="80"
    />
    <p>Staples</p>
  </div>
</div>
<div class="rentals">
  <div class="featured-products">
    <h2>Featured Products</h2>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
          <div class="card">
            <img
              [src]="product.image"
              class="card-img-top"
              [alt]="product.name"
              height="200"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">₹ {{ product.price }}</p>
              <button class="btn btn-1 ">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  

  <div class="FF-container">
    <div class="content">
      <h1>Special Festival Foods</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <button >VIEW PRODUCTS</button>
    </div>
  </div>
  <div class="footer">
    <div>
      <h3>LOGO</h3>
      <p>{{email}}</p>
    </div>
    <div>
      <h3>Information</h3>
      <p>About</p>
      <p>FAQs</p>
      <p>My Account</p>
      <p>Payment Method</p>
      <p>Delivery Information</p>
    </div>
    <div>
      <h3>Useful Links</h3>
      <p>Shipping Method</p>
      <p>Privacy Policy</p>
      <p>Terms &amp; Condition</p>
    </div>
    <div>
      <h3>Categories</h3>
      <p>Food</p>
      <p>Clothes</p>
      <p>Home Decors</p>
      <p>Rentals</p>
    </div>
    <div>
      <h3>Contact</h3>
      <p>Pune, Maharashtra, India</p>
      <p>+91-1234567890</p>
      <div class="social">
        <a href="#">
          <i class="fa fa-instagram"> </i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"> </i>
        </a>
      </div>
    </div>
  </div>
</div>
